<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <section name="casJobs" type="Jhu.Graywulf.CasJobs.CasJobsClientConfiguration, Jhu.Graywulf.Plugins"/>
    </sectionGroup>
  </configSections>

  <Jhu.Graywulf>
    <casJobs
      baseUri="http://scitest02/CasJobs/RestApi"
      batchAdminConnectionString="Data Source=scitest02;Initial Catalog=BatchAdmin_Test_scitest02;Integrated Security=true;" />
  </Jhu.Graywulf>

</configuration>