[submodule "graywulf"]
	path = graywulf
	url = git@github.com:idies/graywulf.git
[submodule "skyquery"]
	path = skyquery
	url = git@github.com:idies/skyquery.git
[submodule "sharpfitsio"]
	path = sharpfitsio
	url = git@github.com:idies/sharpfitsio.git
[submodule "graywulf-plugins"]
	path = graywulf-plugins
	url = git@github.com:idies/graywulf-plugins.git
[submodule "keystone-client"] 
	path = keystone-client 
	url = git@github.com:idies/keystone-client.git 
[submodule "rest-client"] 
	path = rest-client 
	url = git@github.com:idies/rest-client.git 
