<?xml version="1.0" encoding="utf-8"?>
<!-- This is the solution level config file, modify this only for reconfiguration -->
<config root="skyquery-config\scidev01">
  <assemblySettings version="1.2.6215.0" />
  <includes>
    <include path="graywulf\config\sections.config" />
    <include path="graywulf-plugins\config\sections.config" />
  </includes>
</config>