<?xml version="1.0" encoding="utf-8"?>
<!-- This is the solution level config file, modify this only for reconfiguration -->
<config root=".\skyquery-config\scidev01">
  <assemblySettings prefix="skyquery" />
  <includes>
    <include path="graywulf\config\sections.config" />
    <include path="graywulf-plugins\config\sections.config" />
  </includes>
</config>