<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <section name="Components" type="System.Configuration.AppSettingsSection"/>
      <sectionGroup name="keystone">
        <section name="client" type="Jhu.Graywulf.Keystone.KeystoneClientConfiguration, Jhu.Graywulf.Keystone"/>
        <section name="authentication" type="Jhu.Graywulf.Web.Security.KeystoneAuthenticationConfiguration, Jhu.Graywulf.Plugins"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <Jhu.Graywulf>
    <Components>
      <add key="AssemblyPath" value="." />
    </Components>
    <keystone>
      <client 
        baseUri="http://192.168.56.10:35357"
        domain="default"
        adminToken="d2e63a200f9dd4ba99e9"
      />
      <authentication enabled="true" />
    </keystone>
  </Jhu.Graywulf>

</configuration>