<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <section name="Components" type="System.Configuration.AppSettingsSection"/>
      <sectionGroup name="keystone">
        <section name="client" type="Jhu.Graywulf.Keystone.KeystoneClientConfiguration, Jhu.Graywulf.Keystone"/>
      </sectionGroup>
      <sectionGroup name="authentication">
        <section name="openID" type="Jhu.Graywulf.Web.Security.OpenIDConfiguration, Jhu.Graywulf.Plugins" />
        <section name="keystone" type="Jhu.Graywulf.Web.Security.KeystoneAuthenticationConfiguration, Jhu.Graywulf.Plugins"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <Jhu.Graywulf>
    <Components>
      <add key="AssemblyPath" value="." />
    </Components>
    <keystone>
      <client
        baseUri="http://192.168.56.10:5000"
        domain="default"
        adminToken="d2e63a200f9dd4ba99e9"
      />
    </keystone>
    <authentication>
      <openID>
        <add authorityName="Google" authorityUri="https://www.google.com/accounts/o8/ud" displayName="GoogleID" discoveryUri="https://www.google.com/accounts/o8/id" />
        <add authorityName="VOID" authorityUri="https://sso.usvao.org/openid/provider" displayName="VO OpenID" discoveryUri="https://sso.usvao.org/openid/provider_id" />
      </openID>
      <keystone enabled="true" />
    </authentication>
  </Jhu.Graywulf>

</configuration>