<configuration>
  <connectionStrings>
    <!-- Graywulf registry, log and workflow persistance database location-->
    <add name="Jhu.Graywulf.Registry" connectionString="Data Source=sciserver03;Initial Catalog=Graywulf_scidev01;MultipleActiveResultsets=true;Integrated Security=true"/>
    <add name="Jhu.Graywulf.Logging" connectionString="Data Source=sciserver03;Initial Catalog=Graywulf_Log_scidev01;MultipleActiveResultsets=true;Integrated Security=true;Enlist=false"/>
    <add name="Jhu.Graywulf.Activities.Persistence" connectionString="Data Source=sciserver03;Initial Catalog=Graywulf_Persistence_scidev01;Integrated Security=true"/>
  </connectionStrings>
</configuration>