<configuration>
  <connectionStrings>
    <!-- Graywulf registry, log and workflow persistance database location-->
    <add name="Jhu.Graywulf.Registry" connectionString="Data Source=scitest01;Initial Catalog=Graywulf_Dev_scitest01;MultipleActiveResultsets=true;Integrated Security=true"/>
    <add name="Jhu.Graywulf.Logging" connectionString="Data Source=scitest01;Initial Catalog=Graywulf_Dev_Log_scitest01;MultipleActiveResultsets=true;Integrated Security=true;Enlist=false"/>
    <add name="Jhu.Graywulf.Activities.Persistence" connectionString="Data Source=scitest01;Initial Catalog=Graywulf_Dev_Persistence_scitest01;Integrated Security=true"/>
  </connectionStrings>
</configuration>