<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <jhu.graywulf>
    <casJobs
        baseUri="http://scidev01.pha.jhu.edu/CasJobs/RestApi"
        batchAdminConnectionString="Data Source=sciserver03;Initial Catalog=BatchAdmin_scidev01;Integrated Security=true;" />
  </jhu.graywulf>
</configuration>