<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <jhu.graywulf>
    <casJobs
        baseUri="http://scitest02.pha.jhu.edu/CasJobs/RestApi"
        batchAdminConnectionString="Data Source=scitest02;Initial Catalog=BatchAdmin;Integrated Security=true;" />
    <sciDrive
        baseUri="http://scitest09.pha.jhu.edu/vospace-2.0/" />
  </jhu.graywulf>
</configuration>