<configuration>
  <jhu.graywulf>
    <appDomain assemblyPath="bin" />
    <rest>
      <customHeaders>
        <add key="Access-Control-Allow-Origin" value="*" />
        <add key="Access-Control-Allow-Headers" value="Accept, Content-Type, Content-Range, Content-Disposition, Content-Description, X-Auth-Token" />
        <add key="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </rest>
  </jhu.graywulf>

  <!-- Turn off debug feature that causes jquery to throw exceptions-->
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <system.web>
    <globalization culture="en-us" />
    <customErrors mode="Off" defaultRedirect="~/Error.aspx"/>
    <!--
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="/auth/SignIn.aspx" enableCrossAppRedirects="true" path="/" />
    </authentication>
    -->
  </system.web>
</configuration>
